<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sub Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sub Categories</ion-card-title>
        <ion-item>
          <p>In this page you can Add/Edit/Disable a Sub Category.</p>
        </ion-item>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label>Sub Category:</ion-label>
          <ion-input placeholder="Required" [(ngModel)]="newSubTitle" value="{{ subTitle }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Select Main Category<span style="color:red"> *</span></ion-label>
          <ionic-selectable item-content [(ngModel)]="mainTitle" [items]="mainTitles" itemValueField="mtID"
            itemTextField="MainTitle" [canSearch]="true" (onchange)="userChanged($event)" (onClose)="onClose($event)">

          </ionic-selectable>
        </ion-item>

        <ion-item>
          <ion-label>Sub Category Of:</ion-label>
          <ion-input placeholder="Required" value="{{ subTitleOf }}" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Status</ion-label>
          <ion-toggle color="warning" [(ngModel)]="stStatus" size="small"></ion-toggle>
        </ion-item>

        <p align="center" class="keepButton">
          <ion-button expand="block" color="success" size="small" (click)="saveChanges(newSubTitle, newSubTitleOf)"
            slot="end">ADD/SAVE
            CHANGES
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>