<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create an Exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <div>
    <h1>Exam</h1>

    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Exam Name:</ion-label>
            <ion-input placeholder="Required" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Exam Subject:</ion-label>
            <ion-input placeholder="Required" [(ngModel)]="subject"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Exam Date:</ion-label>
            <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MMM YYYY" max="2040" min="2018" [(ngModel)]="examDate">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Choose Questions</ion-label>
            <ionic-selectable item-content [(ngModel)]="questions" [items]="allQuestions" itemValueField="QID"
              itemTextField="Question" [canSearch]="true" (onchange)="userChanged($event)" (onClose)="onClose($event)"
              [isMultiple]="true">

            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Choose Students</ion-label>
            <ionic-selectable item-content [(ngModel)]="students" [items]="allStudents" itemValueField="stID"
              itemTextField="NameFamily" [canSearch]="true" (onchange)="userChanged($event)"
              (onClose)="onCloseStudent($event)" [isMultiple]="true">

            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p>*Note: After filling the Required fields, Choose your Questions to be in this Exam. Then Choose Students
            to send them.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="insertExam(name, subject, examDate)" expand="block" color="success">
            Create Exam
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>