<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-dropleft-circle" (click)="goBack()" color="medium" slot="start" style="margin-left:10px;">
    </ion-icon>
    <ion-title>Connect To Picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" text-center>

  <ion-card>
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col size="12">
            <p class="mainQuestion">{{ question.Question }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{ question.QuestionAz }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="arabicWords">{{ question.QuestionAr }}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>

    <ion-row class="titleRow">
      <ion-col size="4"></ion-col>
      <ion-col size="4">Student Answer</ion-col>
      <ion-col size="4">Correct Choices</ion-col>
    </ion-row>

    <ion-row no-padding class="matrix">

      <ion-col size="12" class="q1">
        <ion-row>
          <ion-col size="4">
            <div class="q-header"><img class="circle-pic" src="{{ fstImage }}"></div>
          </ion-col>
          <ion-col size="4">
            <div *ngFor="let item of stFstChoice" class="studentTexts" [style.background]="item.color" expand="block"
              text-wrap>
              <p>{{ item.value }}</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div *ngFor="let item of q1" class="answerTexts" expand="block" text-wrap>
              <p>{{ item }}</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <div class="q-header"><img class="circle-pic" src="{{ secImage }}"></div>
          </ion-col>
          <ion-col size="4">
            <div *ngFor="let item of stSecChoice" class="studentTexts" [style.background]="item.color" expand="block"
              text-wrap>
              <p>{{ item.value }}</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div *ngFor="let item of q2" class="answerTexts" [style.background]="grey" expand="block" text-wrap>
              <p>{{ item }}</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <div class="q-header"><img class="circle-pic" src="{{ trdImage }}"></div>
          </ion-col>
          <ion-col size="4">
            <div *ngFor="let item of stTrdChoice" class="studentTexts" [style.background]="item.color" expand="block"
              text-wrap>
              <p>{{ item.value }}</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div *ngFor="let item of q3" class="answerTexts" [style.background]="grey" expand="block" text-wrap>
              <p>{{ item }}</p>
            </div>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="evaluationField" *ngIf="studentAnswer.EvaluationState">
          <p class="mark"><span>Your Mark is: {{ studentAnswer.EvaluationState }}</span></p>
          <p class="description"><span *ngIf="studentAnswer.Evaluation">Description: {{ studentAnswer.Evaluation }}</span></p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="giveMark" *ngIf="whoIs=='teacher'">
          <p>*Note: Give an Score to this Question from 1 to 5.</p>
          <div class="inputs">
            <ion-item>
              <ion-label>Score:</ion-label>
              <ion-input [(ngModel)]="score"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Description:</ion-label>
              <ion-textarea [(ngModel)]="evaluationDescription"></ion-textarea>
            </ion-item>
          </div>
          <p align="center"><ion-button (click)="recordScore(score, evaluationDescription)" size="small" expand="block">Record Student Mark</ion-button></p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>