<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Categories</ion-card-title>
        <ion-item>
          <p>In this page you can Add/Edit/Disable a Category.</p>
        </ion-item>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label>Category:</ion-label>
          <ion-input placeholder="Required" [(ngModel)]="newMainTitle" value="{{ mainTitle }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Status</ion-label>
          <ion-toggle color="warning" [(ngModel)]="mtStatus" size="small"></ion-toggle>
        </ion-item>

        <p align="center" class="keepButton">
          <ion-button expand="block" color="success" size="small" (click)="saveChanges(newMainTitle)" slot="end">
            ADD/SAVE CHANGES
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>