<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="language != ''">
      <ion-title *ngIf="language == 'english'">Category Videos</ion-title>
      <ion-title *ngIf="language == 'arabic'">فئة الفيديو</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="language != ''">

    <ion-card>
      <ion-item>
        <ion-icon name="list-box" slot="start" color="primary"></ion-icon>
        <ion-label>{{ category }}</ion-label>
      </ion-item>

      <ion-card-content>
        <div *ngIf="lecternVideos != '0 result'">
          <div *ngFor="let item of lecternVideos; let i = index">
            <ion-item>
              <ion-label style="direction: ltr; text-align: left; font-size: 14px;">{{ i+1 }}) {{ item.Name }}
              </ion-label>
              <ion-button *ngIf="language == 'english'" size="small" expand="block" color="success"
                (click)="goToLecternVideo(item.VideoID)" slot="end">GO
              </ion-button>
              <ion-button *ngIf="language == 'arabic'" size="small" expand="block" color="success"
                (click)="goToLecternVideo(item.VideoID)" slot="end">اذهب
              </ion-button>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>