<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Drag To Table Type Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <div class="bg">
    <ion-grid>

      <h3>Question</h3>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question Name:</ion-label>
            <ion-input placeholder="Required" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Select Main Title</ion-label>
            <ionic-selectable item-content [(ngModel)]="mainTitle" [items]="mainTitles" itemValueField="mtID"
              itemTextField="MainTitle" [canSearch]="true" (onchange)="userChanged($event)" (onClose)="onClose($event)">

            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Select Sub Title</ion-label>
            <ionic-selectable item-content [(ngModel)]="subTitle" [items]="subTitles" itemValueField="SubTID"
              itemTextField="SubTitle" [canSearch]="true" (onchange)="userChanged($event)">

            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question(English):</ion-label>
            <ion-input placeholder="Required" [(ngModel)]="question"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question(Arabic):</ion-label>
            <ion-input [(ngModel)]="questionAr"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question(Arabizi):</ion-label>
            <ion-input [(ngModel)]="questionAz"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Max Time:</ion-label>
            <ion-input [(ngModel)]="maxTime"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Description(English):</ion-label>
            <ion-textarea [(ngModel)]="descriptionEn"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Description(Arabic):</ion-label>
            <ion-textarea [(ngModel)]="descriptionAr"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p><br></p>
        </ion-col>
      </ion-row>

      <h3>Answers</h3>


      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <h3>Table One</h3>
            </ion-card-header>

            <ion-card-content>

              <ion-item>
                <ion-label>English Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="tblOneEn"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabic Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="tblOneAr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabizi Text:</ion-label>
                <ion-input [(ngModel)]="tblOneAz"></ion-input>
              </ion-item>

              <ion-item>
                <p>*Note: you can choose whatever language you want for Bellow Texts.<br></p>
              </ion-item>

              <ion-item>
                <ion-label>Text 1:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="text1"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Text 2:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="text2"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Text 3:</ion-label>
                <ion-input [(ngModel)]="text3"></ion-input>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <h3>Table Two</h3>
            </ion-card-header>

            <ion-card-content>

              <ion-item>
                <ion-label>English Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="tblTwoEn"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabic Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="tblTwoAr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabizi Text:</ion-label>
                <ion-input [(ngModel)]="tblTwoAz"></ion-input>
              </ion-item>

              <ion-item>
                <p>*Note: you can choose whatever language you want for Bellow Texts.<br></p>
              </ion-item>

              <ion-item>
                <ion-label>Text 1:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="text4"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Text 2:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="text5"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Text 3:</ion-label>
                <ion-input [(ngModel)]="text6"></ion-input>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success"
            (click)="insertQuestion(name, question, questionAr, questionAz, maxTime, descriptionEn, descriptionAr,
                      tblOneEn, tblOneAr, tblOneAz, tblTwoEn, tblTwoAr, tblTwoAz, text1, text2, text3, text4, text5, text6)">
            Insert Question
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>