<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="language != ''">
      <ion-title *ngIf="language == 'english'">Lectern Questions</ion-title>
      <ion-title *ngIf="language == 'arabic'">أسئلة المحاضرات</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <div class="keepCardTitle" *ngIf="language != ''">
    <ion-card>
      <ion-item *ngIf="language == 'english'">
        <p class="cardTitle" *ngIf="language == 'english'"><span>QUESTIONS LIST</span></p>
      </ion-item>
      <ion-item *ngIf="language == 'arabic'" style="direction: rtl;">
        <p class="cardTitle"><span>قائمة الأسئلة</span></p>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Category: </span><span
                  class="subTexts">{{ mainTitle.MainTitle }}</span></p>
              <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">الفئة : </span><span
                  class="subTexts">{{ mainTitle.MainTitle }}</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Sub Category: </span><span
                  class="subTexts">{{ subTitle.SubTitle }}</span></p>
              <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">الفئة الفرعية :
                </span><span class="subTexts">{{ subTitle.SubTitle }}</span></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf="language != ''">
    <div *ngFor="let question of questionsList;">
      <div class="keepCardQuestions">
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <p *ngIf="language == 'english'"><span class="mainTexts">{{ question.Name }}</span></p>
              <p *ngIf="language == 'arabic'"><span class="mainTexts">{{ question.Name }}</span></p>
            </ion-col>
            <ion-col size="3">
              <p *ngIf="language == 'english'">
                <ion-button size="small" color="warning" (click)="goToQuestion(question.Type, question.QID)"
                  style="margin: 0px !important;padding: 0px !important;">TAKE</ion-button>
              </p>
              <p *ngIf="language == 'arabic'">
                <ion-button size="small" color="warning" (click)="goToQuestion(question.Type, question.QID)"
                  style="margin: 0px !important;padding: 0px !important;">يأخذ</ion-button>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Question: </span><span
                  class="subTexts">{{ question.Question }}</span></p>
              <p *ngIf="language == 'arabic'"><span class="mainTexts">سؤال : </span><span
                  class="subTexts">{{ question.Question }}</span></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>