<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="language != ''">
      <ion-title *ngIf="language == 'english'">Questions List</ion-title>
      <ion-title *ngIf="language == 'arabic'">قائمة الأسئلة</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <div class="keepCardTitle" *ngIf="language != ''">
    <ion-card>
      <ion-item>
        <p class="cardTitle"><span>{{ exam.Name }}</span></p>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Subject: </span><span class="subTexts">{{ exam.Subject }}</span></p>
              <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">موضوع : </span><span class="subTexts">{{ exam.Subject }}</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Completed: </span><span *ngIf="exam.HasCompleted == false" class="hasNotCompleted">No</span></p>
              <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">منجز : </span><span *ngIf="exam.HasCompleted == false" class="hasNotCompleted">No</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Exam Date: </span><span class="subTexts">{{ exam.ExamDate }}</span></p>
              <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">موعد الامتحان : </span><span class="subTexts">{{ exam.ExamDate }}</span></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf="language != ''">
    <div *ngFor="let q1 of questions; let i = index">
      <div *ngFor="let q2 of q1; let j = index">
        <ion-row>
          <ion-col>
            <div class="keepCardQuestions">
              <ion-card>
                <ion-grid>
                  <ion-row>
                    <ion-col size="4">
                      <img src="{{ imagePath + q2.Image }}">
                    </ion-col>
                    <ion-col size="8">
                      <p *ngIf="language == 'english'"><span class="mainTexts">Name: </span><span class="subTexts">{{ q2.Name }}</span></p>
                      <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">اسم : </span><span class="subTexts">{{ q2.Name }}</span></p>

                      <p *ngIf="language == 'english'"><span class="mainTexts">Category: </span><span class="subTexts">{{ q2.MainTitle }}</span></p>
                      <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">الفئة : </span><span class="subTexts">{{ q2.MainTitle }}</span></p>

                      <p *ngIf="language == 'english'"><span class="mainTexts">Sub Category: </span><span class="subTexts">{{ q2.SubTitle }}</span></p>
                      <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">الفئة الفرعية : </span><span class="subTexts">{{ q2.SubTitle }}</span></p>
                      
                      <p *ngIf="language == 'english'" style="text-align:right;">
                        <ion-button size="small" color="warning" (click)="goToQuestion(i, q2.Type , q2.QID)"
                          style="margin: 0px !important;padding: 0px !important;">TAKE</ion-button>
                      </p>
                      <p *ngIf="language == 'arabic'" style="text-align:right;">
                        <ion-button size="small" color="warning" (click)="goToQuestion(i, q2.Type , q2.QID)"
                          style="margin: 0px !important;padding: 0px !important;">يأخذ</ion-button>
                      </p>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <ion-button *ngIf="language == 'english'" expand="block" color="warning" (click)="finishExam()">Finish Exam</ion-button>
  <ion-button *ngIf="language == 'arabic'" expand="block" color="warning" (click)="finishExam()">إنهاء الامتحان</ion-button>
</ion-content>