<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Student Homeworks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <div class="bg">
    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <ion-card>
            <div class="cards">
              <ion-card-content class="profileContent">
                <ion-item>
                  <img class="profileImg" src="{{ profileImgUrl }}" alt="">
                </ion-item>

                <div><span>{{ namefamily }} with ID: {{ stID }}</span></div>
                <div>Birthdate: <span>{{ birthdate }}</span></div>
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Homeworks List of {{ namefamily }}</h2>
        </ion-col>
      </ion-row>

      <div *ngFor="let exam of examList; let i = index">
        <ion-row>
          <ion-col>
            <div class="keepCardExams">
              <ion-card>
                <ion-item>
                  <ion-label>Homework #ID) {{ exam.HWID }}</ion-label><span *ngIf="exam.Mark" style="color: red;">
                    {{ exam.Mark }}</span>
                  <ion-button expand="block" color="warning" (click)="goToStudentHomework(exam.hwkID)" slot="end">
                    Evaluate
                  </ion-button>
                </ion-item>

                <ion-card-content>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        <ion-label color="dark">Name</ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label color="dark">Subject</ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label color="dark">Homework Date</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4">{{ exam.Name }}</ion-col>
                      <ion-col size="4">{{ exam.Subject }}</ion-col>
                      <ion-col size="4">{{ exam.HomeworkDate }}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4">
                        <ion-label color="warning">Has Seen</ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label color="warning">Has Done</ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label color="warning">Completed</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4">
                        <p *ngIf="exam.HasSeen == true"><span class="dot"></span></p>
                        <p *ngIf="exam.HasSeen == false"><span class="dotError"></span></p>
                      </ion-col>
                      <ion-col size="4">
                        <p *ngIf="exam.HasDone == true"><span class="dot"></span></p>
                        <p *ngIf="exam.HasDone == false"><span class="dotError"></span></p>
                      </ion-col>
                      <ion-col size="4">
                        <p *ngIf="exam.HasCompleted == true"><span class="dot"></span></p>
                        <p *ngIf="exam.HasCompleted == false"><span class="dotError"></span></p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </div>


    </ion-grid>
  </div>

</ion-content>