.bg{
    --ion-background-color: #0FADF0;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    //--overflow: hidden;
}

ion-card {
    background: #fff;
    color: #626262;
    margin: 10px;
    //margin-top: 50px;
    padding: 0px !important;
    padding-top: 0px;

    ion-row {
        margin: 2px !important;
        padding: 0px !important;

        ion-col {
            margin: 0px !important;
            padding: 0px !important;

            p {
                margin: 0px !important;
                padding: 0px !important;
                //border-bottom: 1px solid #626262;
                font-size: 12px;
                text-align: left;
            }

            .mainQuestion {
                font-size: 14px;
                font-weight: bold;
            }

            .arabicWords{
                text-align: right;
                font-size: 12px;
                font: bold;
            }
        }

        ion-button {
            margin: 0px !important;
            padding: 0px !important;
        }
    }
}

.recordingField {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.evaluationField {
    background: #fff;
    border-radius: 10px;
    padding: 3px;
    margin-left: 15px;
    margin-right: 15px;

    .mark {
        color: #0FADF0;
        font-weight: bold;
        text-align: center;
    }

    .description {
        background: #E0E0E0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 8px;
        border-radius: 4px;
    }
}

.giveMark {
    background: #fff;
    border-radius: 10px;
    padding: 3px;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;

    .inputs {
        background: #E0E0E0;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        padding: 10px !important;

        ion-item {
            --ion-background-color: transparent !important; 
        }
    }

    ion-label {
        font-size: 14px;
    }

    .keepButton {
        text-align: center;
    }

    ion-button {
        --border-radius: 50px;
        width: 200px;
    }
}