<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recite Quran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-card>
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col size="12">
            <p class="mainQuestion">{{ question.Question }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{ question.QuestionAz }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="arabicWords">{{ question.QuestionAr }}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="recordingField">
          <p align="center" *ngIf="whoIs=='student'">Hear Your Voice</p>
          <p align="center" *ngIf="whoIs=='teacher'">Hear Student Voice</p>
          <p align="center">
            <ion-button color="primary" (click)="playAudio()" size="small">
              <ion-icon name="play"></ion-icon>&nbsp;&nbsp;Play
            </ion-button>
            <ion-button color="primary" (click)="stopAudio()" size="small">
              <ion-icon name="pause"></ion-icon>&nbsp;&nbsp;Pause
            </ion-button>
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <div class="evaluationField" *ngIf="studentAnswer.EvaluationState">
            <p class="mark"><span>Your Mark is: {{ studentAnswer.EvaluationState }}</span></p>
            <p class="description"><span *ngIf="studentAnswer.Evaluation">Description: {{ studentAnswer.Evaluation }}</span></p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col size="12">
            <div class="giveMark" *ngIf="whoIs=='teacher'">
              <p>*Note: Give an Score to this Question from 1 to 5.</p>
              <div class="inputs">
                <ion-item>
                  <ion-label>Score:</ion-label>
                  <ion-input [(ngModel)]="score"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Description:</ion-label>
                  <ion-textarea [(ngModel)]="evaluationDescription"></ion-textarea>
                </ion-item>
              </div>
              <p align="center"><ion-button (click)="recordScore(score, evaluationDescription)" size="small" expand="block">Record Student Mark</ion-button></p>
            </div>
          </ion-col>
        </ion-row>

  </ion-grid>

</ion-content>