<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="language != ''">
      <ion-title *ngIf="language == 'english'">Homeworks List</ion-title>
      <ion-title *ngIf="language == 'arabic'">قائمة الواجبات المنزلية</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <div *ngIf="language != ''">
    <div *ngIf="homeworkList != '0 result'">
      <div *ngFor="let homework of homeworkList;">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <p *ngIf="language == 'english'"><span class="cardTitle">{{ homework.Name }}</span>&nbsp;&nbsp;<span
                    *ngIf="homework.HasSeen == false" style="color:#ffce00;">New</span></p>
                <p *ngIf="language == 'arabic'"><span class="cardTitle">{{ homework.Name }}</span>&nbsp;&nbsp;<span
                    *ngIf="homework.HasSeen == false" style="color:#ffce00;">الجديد</span></p>
              </ion-item>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <p *ngIf="language == 'english'"><span class="mainTexts">Homework Date: </span><span
                          class="subTexts">{{ homework.HwkDate }}</span></p>
                      <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">تاريخ الواجب
                          المنزلي : </span><span class="subTexts">{{ homework.HwkDate }}</span></p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <p align="center" style="margin-top: 10px !important;" *ngIf="language == 'english'">
                        <ion-button expand="block" color="warning" size="small"
                          (click)="showDetails(homework.HomeID, homework.HasSeen)">
                          SEE DETAILS</ion-button>
                      </p>
                      <p align="center" style="margin-top: 10px !important;" *ngIf="language == 'arabic'">
                        <ion-button expand="block" color="warning" size="small"
                          (click)="showDetails(homework.HomeID, homework.HasSeen)">
                          انظر التفاصيل</ion-button>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>


</ion-content>