<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Manage Titles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Manage Main Titles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="keepMainTitles">
          <p>In this section you can Add/Edit/Disable a Main Title.</p>
          <p align="center">
            <ion-button expand="block" color="success" size="small" (click)="goToManageMainTitles()" slot="end">MANAGE
            </ion-button>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Manage Sub Titles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="keepMainTitles">
          <p>In this section you can Add/Edit/Disable a Sub Title.</p>
          <p align="center">
            <ion-button expand="block" color="success" size="small" (click)="goToManageSubTitles()" slot="end">MANAGE
            </ion-button>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>