<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-dropleft-circle" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Connect To Picture Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" text-center>

    <ion-grid>
      <h3>Question</h3>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question Name:</ion-label>
            <ion-input placeholder="Required" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Select Main Title</ion-label>
            <ionic-selectable item-content [(ngModel)]="mainTitle" [items]="mainTitles" itemValueField="mtID"
              itemTextField="MainTitle" [canSearch]="true" (onchange)="userChanged($event)" (onClose)="onClose($event)">

            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Select Sub Title</ion-label>
            <ionic-selectable item-content [(ngModel)]="subTitle" [items]="subTitles" itemValueField="SubTID"
              itemTextField="SubTitle" [canSearch]="true" (onchange)="userChanged($event)">

            </ionic-selectable>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question(English):</ion-label>
            <ion-input placeholder="Required" [(ngModel)]="question"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question(Arabic):</ion-label>
            <ion-input [(ngModel)]="questionAr"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Question(Arabizi):</ion-label>
            <ion-input [(ngModel)]="questionAz"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Max Time:</ion-label>
            <ion-input [(ngModel)]="maxTime"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Description(English):</ion-label>
            <ion-textarea [(ngModel)]="descriptionEn"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Description(Arabic):</ion-label>
            <ion-textarea [(ngModel)]="descriptionAr"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Question Voice</ion-card-title>
              <p align="center">
                <ion-button expand="block" color="primary"
                  (click)="stopAudio(root='question', voiceNameEn=name, voiceNameAr=name)" size="small"
                  *ngIf="recording">
                  <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Recording
                </ion-button>
                <ion-button expand="block" color="primary"
                  (click)="startAudio(root='question', voiceNameEn=name, voiceNameAr=name)" size="small"
                  *ngIf="!recording">
                  <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Recording
                </ion-button>
              </p>
            </ion-card-header>

            <ion-card-content>

              <ion-item *ngIf="questionAudiofileName">
                <p>{{questionAudiofileName}}</p>
                <button ion-button clear item-end large (click)="playAudio(questionAudiofileName,root='question')">
                  <ion-icon name="play"></ion-icon>
                </button>
              </ion-item>

              <ion-item *ngIf="myQuestionVoiceID">
                <p>the Voice VID: {{myQuestionVoiceID}}</p>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p><br></p>
        </ion-col>
      </ion-row>

      <h3>Answers</h3>


      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>First Choice</ion-card-title>
              <p align="center"><img class="questionImage" src="{{ fstChoiceImage }}"></p>

              <ion-item *ngIf="myFstImgID">
                <p align="center">The FstImgID: {{myFstImgID}}</p>
              </ion-item>

            </ion-card-header>

            <ion-card-content>

              <ion-item>
                <ion-label>English Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="fstChoiceEn"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabic Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="fstChoiceAr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabizi Text:</ion-label>
                <ion-input [(ngModel)]="fstChoiceAz"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Picture: </ion-label>
                <p align="center">
                  <ion-button expand="block" color="success"
                    (click)="selectImage(root='fstChoice', imageName=fstChoiceEn)">
                    <ion-icon slot="start" name="camera"></ion-icon>
                    Select Image
                  </ion-button>
                </p>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Second Choice</ion-card-title>
              <p align="center"><img class="questionImage" src="{{ secChoiceImage }}"></p>

              <ion-item *ngIf="mySecImgID">
                <p align="center">The SecImgID: {{mySecImgID}}</p>
              </ion-item>

            </ion-card-header>

            <ion-card-content>

              <ion-item>
                <ion-label>English Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="secChoiceEn"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabic Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="secChoiceAr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabizi Text:</ion-label>
                <ion-input [(ngModel)]="secChoiceAz"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Picture: </ion-label>
                <p align="center">
                  <ion-button expand="block" color="success"
                    (click)="selectImage(root='secChoice', imageName=secChoiceEn)">
                    <ion-icon slot="start" name="camera"></ion-icon>
                    Select Image
                  </ion-button>
                </p>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Third Choice</ion-card-title>
              <p align="center"><img class="questionImage" src="{{ trdChoiceImage }}"></p>

              <ion-item *ngIf="myTrdImgID">
                <p align="center">The TrdImgID: {{myTrdImgID}}</p>
              </ion-item>

            </ion-card-header>

            <ion-card-content>

              <ion-item>
                <ion-label>English Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="trdChoiceEn"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabic Text:</ion-label>
                <ion-input placeholder="Required" [(ngModel)]="trdChoiceAr"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Arabizi Text:</ion-label>
                <ion-input [(ngModel)]="trdChoiceAz"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Picture: </ion-label>
                <p align="center">
                  <ion-button expand="block" color="success"
                    (click)="selectImage(root='trdChoice', imageName=trdChoiceEn)">
                    <ion-icon slot="start" name="camera"></ion-icon>
                    Select Image
                  </ion-button>
                </p>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success"
            (click)="insertQuestion(name, question, questionAr, questionAz, maxTime, descriptionEn, descriptionAr,
                  fstChoiceEn, fstChoiceAr, fstChoiceAz, secChoiceEn, secChoiceAr, secChoiceAz, trdChoiceEn, trdChoiceAr, trdChoiceAz)">
            Insert Question
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>