<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-dropleft-circle" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Manage Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-toolbar>
    <ion-searchbar placeholder="Search Student" [(ngModel)]="mySearch" [showCancelButton]="shouldShowCancel"
      (ionChange)="updateStudents($event)" debounce="1000"></ion-searchbar>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Students List</ion-card-title>
      <ion-item>
        <p>Click on the Student to Edit or Disable.</p>
      </ion-item>
      <p align="center">
        <ion-button expand="block" color="success" size="small" (click)="goToAddStudent()" slot="end">ADD STUDENT
        </ion-button>
      </p>
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let student of allStudents; let i = index">
        <div class="keepMainTitles">
          <ion-item (click)="showStudentDetails(student.stID)">
            <p>#{{ i+1 }}) {{ student.NameFamily }} (ID: {{student.stID}})<span *ngIf="student.Status == true"
                class="dot"></span><span *ngIf="student.Status == false" class="dotError"></span></p>
          </ion-item>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>