<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Exams List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div *ngFor="let exam of examList; let i = index">
      <ion-row *ngIf="exam.HasCompleted == false">
        <ion-col>
          <ion-card>
            <ion-item>
              <p class="cardTitle"><span>{{ exam.Name }}</span>&nbsp;&nbsp;<span *ngIf="exam.HasSeen == false"
                  style="color:#ffce00;">New</span></p>
            </ion-item>

            <ion-card-content>

              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <p><span class="mainTexts">Subject: </span><span class="subTexts">{{ exam.Subject }}</span></p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <p><span class="mainTexts">Completed: </span>
                      <span *ngIf="exam.HasCompleted == false" class="hasNotCompleted">No</span>
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <p><span class="mainTexts">Exam Date: </span><span class="subTexts">{{ exam.ExamDate }}</span></p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <p align="center" style="margin-top: 10px !important;">
                      <ion-button expand="block" color="warning" size="small"
                        (click)="goToStudentExam(exam.stExamID, exam.HasCompleted)">TAKE THE EXAM</ion-button>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>