<ion-content class="bg" text-center>

  <div class="headerDiv">
    <img class="headerImg" src="../../../assets/imgs/family-logo.jpg">

    <div class="profileDiv">
      <img class="profileImg" src="{{ profileImg }}">
      <p class="studentName">{{ student.NameFamily }}</p>
      <p class="studentBirthdate">Birthdate: {{ student.Birthdate }}</p>
    </div>
  </div>

  <div class="fixed">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card (click)="goToExamsList()">
            <ion-icon name="paper" color="primary" class="larger"></ion-icon>
            <p>New Exams</p>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card (click)="goToListOfTakenExam()">
            <ion-icon name="paper" color="primary" class="larger"></ion-icon>
            <p>Exams</p>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card (click)="goToLecterns()">
            <ion-icon name="easel" color="primary" class="larger"></ion-icon>
            <p>Lecterns</p>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card (click)="goToHomeworksList()">
            <ion-icon name="home" color="primary" class="larger"></ion-icon>
            <p>New Homeworks</p>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card (click)="goToListOfTakenHomeworks()">
            <ion-icon name="home" color="primary" class="larger"></ion-icon>
            <p>Homeworks</p>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card (click)="goToEditProfile()">
            <ion-icon name="contact" color="primary" class="larger"></ion-icon>
            <p>Edit Profile</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-toolbar>
    <ion-icon name="power" color="primary" class="larger" (click)="logout()"></ion-icon>
  </ion-toolbar>

</ion-content>