<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="language != ''">
      <ion-title *ngIf="language == 'english'">Homework Details</ion-title>
      <ion-title *ngIf="language == 'arabic'">تفاصيل الواجب المنزلي</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="language != ''">
    <ion-card>
      <ion-item>
        <p><span class="cardTitle">{{ homework.Name }}</span>&nbsp;&nbsp;<span *ngIf="homework.HasSeen == false"
            style="color:#ffce00;">New</span></p>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <p *ngIf="language == 'english'"><span class="mainTexts">Homeworks: </span><span
                  class="subTexts">{{ homework.Homework }}</span></p>
              <p *ngIf="language == 'arabic'" style="direction: rtl;"><span class="mainTexts">الواجبات : </span><span
                  class="subTexts">{{ homework.Homework }}</span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p style="margin-top: 15px !important;" *ngIf="language == 'english'"><span class="mainTexts">Homework
                  Date: </span><span class="subTexts">{{ homework.HwkDate }}</span></p>
              <p style="margin-top: 15px !important;direction: rtl;" *ngIf="language == 'arabic'"><span
                  class="mainTexts">تاريخ الواجب المنزلي : </span><span class="subTexts">{{ homework.HwkDate }}</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>