<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-dropleft-circle" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Students List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" text-center>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Student" [(ngModel)]="mySearch" [showCancelButton]="shouldShowCancel"
      (ionChange)="updateStudents($event)" debounce="1000"></ion-searchbar>
  </ion-toolbar>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <p>Students List<br /><span>Click on the Student's name to see his/her Exams/Homeworks List.</span></p>
          </ion-item>

          <ion-card-content>
            <div *ngFor="let student of allStudents; let i = index">
              <div>
                <ion-item (click)="showStudentDetails(student.stID)">
                  <ion-label>#{{ i+1 }}) {{ student.NameFamily }} (ID: {{student.stID}})</ion-label>
                </ion-item>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>