<ion-content text-center>

  <div>
    <div class="fixed">
      <div class="head" text-center>
        <img src="../../assets/imgs/app-logo.jpeg">
        <h1>LULUWA</h1>
      </div>


      <ion-card>
        <ion-card-content>

          <div class="inputs">
            <ion-item>
              <ion-icon name="person" color="medium" class="icons" slot="start"></ion-icon>
              <ion-input [(ngModel)]="username" placeholder="Username" type="text"></ion-input>
            </ion-item>
            <ion-item class="pass">
              <ion-icon name="lock" color="medium" class="icons" slot="start"></ion-icon>
              <ion-input type="password" [(ngModel)]="pass" placeholder="Password"></ion-input>
            </ion-item>

            <p style="margin: 10px; margin-top:30px; margin-bottom: 15px; font-size: 14px;">
              <ion-segment value="student">
                <ion-segment-button value="student" (ionSelect)="segmentChangedtoStudent($event)">
                  <ion-label>Student</ion-label>
                </ion-segment-button>
                <ion-segment-button value="parent" (ionSelect)="segmentChangedtoParent($event)">
                  <ion-label>Parent</ion-label>
                </ion-segment-button>
                <ion-segment-button value="teacher" (ionSelect)="segmentChangedtoTeacher($event)">
                  <ion-label>Teacher</ion-label>
                </ion-segment-button>
              </ion-segment>
            </p>

            <p align="center">
              <ion-button expand="block" color="primary" (click)="login(username, pass)" size="small">
                LOG IN
              </ion-button>
            </p>

            <p class="register">
              You don't have account, <b><a routerLink="/uploadvideo">Register Now</a></b>
            </p>

            <p style="margin-top:15px;">
              <ion-segment value="english">
                <ion-segment-button value="english" (ionSelect)="segment1ButtonClicked($event)">
                  <ion-label>English</ion-label>
                </ion-segment-button>
                <ion-segment-button value="arabic" (ionSelect)="segment2ButtonClicked($event)">
                  <ion-label>Arabic</ion-label>
                </ion-segment-button>
              </ion-segment>
            </p>
            
            <span class="loginMsgs">{{ responseTxt }}</span>
          </div>

        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>