<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Manage Main Titles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg">
    <ion-toolbar>
      <ion-searchbar placeholder="Search Main Title" [(ngModel)]="mySearch" [showCancelButton]="shouldShowCancel"
        (ionChange)="updateMainTitles($event)" debounce="1000"></ion-searchbar>
    </ion-toolbar>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Main Titles List</ion-card-title>
        <ion-item>
          <p>Click on the Main Title to Edit or Disable.</p>
        </ion-item>
        <p align="center">
          <ion-button expand="block" color="success" size="small" (click)="goToAddMainTitle()" slot="end">ADD MAIN TITLE
          </ion-button>
        </p>
      </ion-card-header>

      <ion-card-content>
        <div *ngFor="let mainTitle of mainTitles; let i = index">
          <div class="keepMainTitles">
            <ion-item (click)="goForEditing(mainTitle.mtID)">
              <p>#{{ i+1 }}) {{ mainTitle.MainTitle }} (ID: {{mainTitle.mtID}})<span *ngIf="mainTitle.Status == true"
                  class="dot"></span><span *ngIf="mainTitle.Status == false" class="dotError"></span></p>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>