<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lectern</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Choose a Category</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let mainTitle of mainTitles;" class="keepMainTitles">
          <ion-item (click)="goToMainTitle(mainTitle.mtID)">
            <p>{{ mainTitle.MainTitle }}</p>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>