<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" slot="start" style="margin-left:10px" (click)="goBack()"></ion-icon>
    <ion-title>Lectern</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Choose a Main Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let mainTitle of mainTitles;" class="keepMainTitles">
          <ion-item (click)="goToMainTitle(mainTitle.mtID)">
            <p>{{ mainTitle.MainTitle }}</p>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>