<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Parent Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <ion-card>    
          <ion-card-content>
    
            <ion-item>
              <ion-label>Name & Family:</ion-label>
              <ion-input placeholder="Required" [(ngModel)]="nameFamily"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label>Username:</ion-label>
              <ion-input placeholder="Required" [(ngModel)]="username"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label>Password:</ion-label>
              <ion-input placeholder="Required" [(ngModel)]="password"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label>Address:</ion-label>
              <ion-textarea [(ngModel)]="address"></ion-textarea>
            </ion-item>
    
            <ion-item>
              <ion-label>Phone No:</ion-label>
              <ion-input [(ngModel)]="phone"></ion-input>
            </ion-item>
    
            <p align="center" class="keepButton">
              <ion-button expand="block" color="success" size="small"
                (click)="register(nameFamily, username, password, address, phone)" slot="end">Sign Up
              </ion-button>
            </p>

            <span class="loginMsgs">{{ responseTxt }}</span>
          </ion-card-content>
        </ion-card>
      </div>

</ion-content>