<ion-header text-center>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lectern</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Choose a Sub Category of <span> {{ mainTitle.MainTitle }}</span></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let subtitle of subTitles;" class="keepMainTitles">
          <ion-item (click)="goToSubTitle(subtitle.SubTID)">
            <p>{{ subtitle.SubTitle }}</p>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>